@import 'constants/colors';
@import 'constants/typography';
@import 'utils/normalize';
@import 'grid';
@import '../../node_modules/material-ui-sass/material-ui';

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: $color-primary;
  background: $color-white;

  font-size: $font-size;
  font-family: $font-family;
  font-weight: 300;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: $color-secondary;
}

h1 {
  font-weight: 300;
  text-align: center;
}
.float-right {
  float: right;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.success, .passed {
  color: #4F8A10;
}
.fail, .error, .failed {
  color: #D8000C;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.paper-padding {
  > .mui-paper-container {
    padding: 15px 5px;
  }
}